<div class="comments mt-5">
  {{#each this}}
    <div class="card">
      <h4 class="card-header"></h4>
      <section class="comment card-body">
        <p>
          {{comment_text}}
        </p>
        <div class="meta">
          <p>
            -{{user.username}},
            {{format_date created_on}}
          </p>
        </div>
      </section>
    </div>
  {{/each}}
</div>