<div class="row post">
  <div class="col-md-12 post-head">
    <h4>Create New Post</h4>
  </div>
  <div class="col-md-12 post-desc">
    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <input class="form-input" type="text" id="content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/add-post.js"></script>